<% provide(:title, "access") %>
<h1>アクセス</h1>

<div class="container">
  <div id="page_top">
    <%= image_tag 'button.png', :size =>'50x50' %>
  </div>
  
    <div class="row_b">
    <div><a href="#fusimi" class="btn btn-primary">伏見本部道場</a>
        <a href="#kidu" class="btn btn-primary">木津道場</a>
        <a href="#tanabe" class="btn btn-primary">田辺道場</a>
        <a href="#yamashina" class="btn btn-primary">ルネサンス山科教室</a>
        <a href="#katsuragawa" class="btn btn-primary">東急スポーツオアシス桂川教室</a></div>
    </div>

<div class="row">
  <div class="col-md-6 col-md-offset-3" id="fusimi">
    <p><span style="font-size: 16pt; font-weight:bold;">伏見本部道場 / 京都南支部本部</span></p>
    <p>住所：京都市伏見区竹田七瀬川81－7</p>
    <div class="map_fusimi">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13080.622807600434!2d135.75876!3d34.952706!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x457ef88a75389bfb!2z5paw5qW155yf5Lya5Lqs6YO95Y2X5pSv6YOo!5e0!3m2!1sja!2sjp!4v1596688049385!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
   
  <div class="col-md-6 col-md-offset-3" id="kidu">
    <p><span style="font-size: 16pt; font-weight:bold;">木津道場</span></p>
    <p>住所：木津川市相楽川ノ尻87-1タイヤフィット京都2F</p>
    <div class="map_kidu">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.7289387350133!2d135.80024501523326!3d34.73722628042517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60013c4388cbb523%3A0x207f6b2e9c443fd1!2z44CSNjE5LTAyMjIg5Lqs6YO95bqc5pyo5rSl5bed5biC55u45qW95bed44OO5bC777yY77yX4oiS77yR!5e0!3m2!1sja!2sjp!4v1597023984402!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
  
  <div class="col-md-6 col-md-offset-3" id="tanabe">
    <p><span style="font-size: 16pt; font-weight:bold;">田辺道場</span></p>
    <p>住所：京田辺市河原御影15</p>
    <div class="map_tanabe">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.416274042022!2d135.77273741523535!3d34.820624880403834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6001171234a9a42d%3A0x597f8d662575e158!2z44CSNjEwLTAzNjEg5Lqs6YO95bqc5Lqs55Sw6L665biC5rKz5Y6f5b6h5b2x77yR77yV!5e0!3m2!1sja!2sjp!4v1597024251996!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
  
  <div class="col-md-6 col-md-offset-3" id="yamashina">
    <p><span style="font-size: 16pt; font-weight:bold;">ルネサンス山科教室</span></p>
    <p>住所：京都市山科区大宅神納町1 スポーツクラブルネサンス山科</p>
    <div class="map_yamashina">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3269.622256766992!2d135.81483881511883!3d34.96607527646688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60010e6495c0d6af%3A0x2437efa1944900ed!2z44CSNjA3LTgxODUg5Lqs6YO95bqc5Lqs6YO95biC5bGx56eR5Yy65aSn5a6F56We57SN55S677yR!5e0!3m2!1sja!2sjp!4v1597024602573!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
  
  <div class="col-md-6 col-md-offset-3" id="katsuragawa">
    <p><span style="font-size: 16pt; font-weight:bold;">東急スポーツオアシス桂川教室</span></p>
    <p>住所：京都市南区久世高田町376-1 イオンモール京都桂川内</p>
    <div class="map_katsuragawa">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3269.7250990235484!2d135.70486511511876!3d34.96349817660587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6001068f8665dc51%3A0xe5452c37e5d39ad3!2z44CSNjAxLTgyMTEg5Lqs6YO95bqc5Lqs6YO95biC5Y2X5Yy65LmF5LiW6auY55Sw55S677yT77yX77yW4oiS77yR!5e0!3m2!1sja!2sjp!4v1597024635267!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>
<!--以下、スクロール-->
<script type="text/javascript">

  $(function(){
    $('a[href^="#"]').click(function(){
      var speed = 1000;
      var href= $(this).attr("href");
      var target = $(href == "#" || href == "" ? 'html' : href);
      var position = target.offset().top - 60;
      $("html, body").animate({scrollTop:position}, speed, "swing");
      return false;
    });
  });
  
</script>

<script type="text/javascript">
  $(function(){
    /* TOP-Pageボタン制御 */
    var topBtn = $('#page_top');
    topBtn.hide();
    //スクロールが100に達したらボタン表示
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            topBtn.fadeIn();//表示
        } else {
            topBtn.fadeOut();//
        }
    });
    //スクロールしてトップ
    topBtn.click(function () {
        $('body,html').animate({scrollTop: 0},1000);//scrollTop: ポジション},スピード
        return false;
    });
  });
</script>
</div>