/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
    background: #eee;
  }
  tr:nth-child(even) td {
	background: #fff;
  }
}

/* モーダルのbody部分のpadding幅変更 */
.modal-body{
  padding:30px;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/* 基本情報_残業申請のお知らせ*/
.notification_overwork{
  color: red;
  border: 3px solid #333333; 
  border-color: red; 
  display: inline-block;
}

/* showのテーブル*/
.user-table .selectmiddle{
  text-align: center;
  vertical-align: middle;
}

.user-table, ul.selectmiddle{
  text-align: center;
  vertical-align: middle!important;
  #margin-bottom:0px;
}

.user-table .selectbottom{
  text-align: center;
  vertical-align: bottom;
}

.ul-align-center{
  text-align: center;
  vertical-align: bottom;
    .ul-align{
      margin-bottom:0px!important;
      padding-left:0px;
    }
}